body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('kotki.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 170px;
    max-height: 400px;
    padding: 30vw;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 2vh;
    background-color: transparent;
    border: 2px solid white;
    padding-right: 21vw;
    padding-left: 21vw;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.457);
    backdrop-filter: blur(10px);
    z-index: -1;
}

h1 {
    font-size: 4vw;
    color: white;
}

.answers {
    margin-top: -10vh;
    display: flex;
    justify-content: center;
    gap: 2vw;
    border-radius: 50px;
}

#question {
    text-shadow: 0 0 0.3em black;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: -1vh;
    user-select: none;
    position: relative;
    top: 10%;
    left: 0%;
    margin-bottom: 15vh;
}

#ost {
    text-align: center;
    display: none;
    font-size: 6vw;
    color: white;
    font-weight: bold;
    user-select: none;
    margin-bottom: 20px;
}

.answer {
    text-shadow: 0 0 0.3em black,0 0 0.3em black,0 0 0.3em black;
    border-radius: 10px;
    padding: 1.5vw 4vw;
    background-color: #01759a;
    color: white;
    border: 3px solid #214f76;
    cursor: pointer;
    font-size: 5vw;
    transition: background-color 0.3s, transform 0.2s;
}

.answer:hover {
    background-color: #0285b0;
    transform: scale(0.95);
}

.answer:active {
    background-color: #1a4160;
}

.answer-yes {
    background-color: #45a049;
    position: fixed;
    padding: 1.5vw 5vw;
    top: 56%;
    left: 27%;
    transition: transform 0.2s;
    border: 2px solid #347837;
}

.answer-yes:hover {
    background-color: #4CAF50;
    border: 2px solid #409543;
    transform: scale(0.95);
}

.answer-yes.clicked {
    background-color: #225124;
    border: 2px solid #193d1b;
    transform: scale(1.5);
}

.answer-no {
    background-color: #cf0000;
    border: 2px solid #ba0000;
    position: fixed;
    padding: 1.5vw 5vw;
    top: 56%;
    left: 53%;
    transition: transform 0.2s;
}

.answer-no.clicked {
    background-color: #960000;
    border: 2px solid #7d0000;
    transform: scale(1.5);
}

.answer-no:hover {
    background-color: #ff2b2b;
    border: 2px solid #e02626;
    transform: scale(0.95);
}

.gif-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.gif {
    width: auto;
    height: 30vh;
    max-width: 100%;
    max-height: 40vh;
}

#muteButton {
    display: none;
    position: absolute;
    top: -18px;
    right: -50px;
    padding: 1vw 2vw;
    background-color: #f44336;
    color: white;
    border: 2px solid #ab2e25;
    border-radius: 5px;
    font-size: 4vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#muteButton:hover {
    background-color: #d32f2f;
}

#muteButton:active {
    background-color: #c62828;
    transform: scale(0.98);
}

#wiad {
    display: none;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    color: white;
    text-align: center;
}

.input-container {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container input {
    text-align: center;
    display: inline-block;
    height: 13vw;
    font-size: 4vw;
    /* padding: -9.25vw 11.5vw; */
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* margin-right: -35px; */
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 20px;
}

#sendButton {
    /* justify-content: center; */
    /* align-items: center; */
    display: inline-block;
    position: absolute;
    padding-bottom: 60px;
    padding: 1.5vw 3vw;
    background-color: #4CAF50;
    border: 2px solid #377e3a;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 4vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    height: 12vw;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    top: 93%;
    left: 38%;
}

#sendButton:hover {
    background-color: #45a049;
}

#sendButton:active {
    background-color: #3e8e41;
}

.fixed-button.left {
    position: fixed;
    top: 10px;
    left: 10px;
}

.fixed-button.right {
    position: fixed;
    top: 10px;
    right: 10px;
}

#pow {
    display: none;
    font-family: Arial;
    height: 38px;
    font-weight: bold;
    padding: 10px 70px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: -2px;
    left: -3px;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid white;
}

#pow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.457);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 5px;
}

#backButton {
    display: none;
    background-color: rgb(108, 108, 108);
    font-family: Arial;
    font-weight: bold;
    padding: 7px 15px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 6vw;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: 8px;
    left: 15px;
    overflow: hidden;
    border: 2px solid rgb(78, 78, 78);
}

#backButton:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#backButton:active {
    background-color: rgba(40, 40, 40, 0.5);
}

#point {
    display: none;
    font-family: Arial;
    font-size: 4vw;
    color: white;
    font-weight: bold;
    z-index: 1000;
    user-select: none;
    position: fixed;
    height: 39px;
    top: -2px;
    right: -3px;
    padding: 10px 104px;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid white;
}

#point::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.457);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 5px;
}

#pointsDisplay {
    display: none;
    font-family: Arial;
    font-size: 6vw;
    text-shadow: 0 0 0.3em rgb(255, 255, 255),0 0 0.3em rgb(255, 255, 255),0 0 0.3em rgb(255, 255, 255),0 0 0.3em rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    z-index: 1000;
    user-select: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 7px 15px;
    border-radius: 5px;
    overflow: hidden;
}

#pointsFeedback {
    color: rgb(0, 172, 0);
    text-shadow: 0 0 0.3em rgb(255 255 255), 0 0 0.3em rgb(255 255 255), 0 0 0.3em rgb(255 255 255),0 0 0.3em rgb(255 255 255);
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    font-size: 6vw;
    position: fixed;
    top: 10px;
    right: 39vw;
    padding: 7px 15px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}
